@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat+Alternates:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

/* font variables */
:root{
  --abril: 'Abril Fatface', cursive;
  --montserrat-alt:'Montserrat Alternates', sans-serif;
  --open-sans:'Open Sans', sans-serif;
}
/* max width variable */
:root{
  --max-width: 1280px;
}

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: relative;
  font-family: var(--montserrat-alt);
  background-color: #f6f6f6;
  background-color: rgb(247, 247, 255);
  color: #303030		;
  font-size: 1.1rem;
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--abril);
  letter-spacing: 2px;
}
a{
  text-decoration: none;
  color: midnightblue;
}
ul{
  list-style: none;
}
/* header */
header{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: white;
  width: 100%;
  max-width: var(--max-width);
  padding: 20px;
  margin: auto;
  z-index: 2;
}
.navbar{
  display: flex;

}
.navbar li{
  padding: 10px 20px;
  margin-right: 5px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.activeLink{
  background-color: white;
  color: midnightblue;
}
.navbar li:hover{
  background-color: white;
  color: black;
}
/* main */
.mainContainer{
  max-width: var(--max-width);
  margin: auto;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
.box1{
  position: relative;
  height: 450px;
  background-color: steelblue;
  overflow: hidden;

}
.box1 img{
  width: 100%;
  transform: translateY(-380px);
  position: absolute;
  
}
.otherBoxes{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 100%;
  max-width: var(--max-width);
}
.boxSecondary{
  width: 100%;
  aspect-ratio: 1/1;
 overflow: hidden;
 display: flex;
 align-items: center;
 justify-content: center;
 
}
.boxSecondary img{
  width: 100%;
}
.box2{
  order: 0;
}
.box3{
  order: 1;
  background-image: url('./assets/images/banana_yellow.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box4{
  order: 2;

  background-image: url('./assets/images/cup_pink.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 0% right 0%;
}
.box5{
  order: 3;

}
.box6{
  order: 4;

  position: relative;
  background-image: url('./assets/images/papaya_green.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box6::before{
  content: 'Graphic Design';
  font-family: var(--abril);
  font-size: 1.6rem;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
}
.box6::after{
  content: 'Voluptates et quasi repellendus omnis qui minus possimus illum';
  position: absolute;
  top: 75%;
  left: 50%;
  width: 60%;
  transform: translateX(-50%);
  text-align: center;
}
.box7::before{
  content: 'Photography';
  font-family: var(--abril);
  font-size: 1.6rem;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
}
.box7::after{
  content: 'Voluptates et quasi repellendus omnis qui minus possimus illum';
  position: absolute;
  top: 75%;
  left: 50%;
  width: 60%;
  transform: translateX(-50%);
  text-align: center;
}
.box7{
  order: 5;

  position: relative;
  background-image: url('./assets/images/avocado_pink.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.textBox{
  flex-direction: column;
  padding: 80px;
  background-color: white;
}
.textBox h2{
  font-size: 2rem;
}
.textBox p{
  margin: 40px 0;
}
.boxLink{
  position: relative;
  font-family: var(--abril);
  text-transform: uppercase;
  padding: 0 5px;
  line-height: 4px;
  border-bottom: 8px solid gold;
  transition: all 0.2s ease-in-out;
  z-index: 6;
}
.boxLink:hover{
  border-color: coral;
}
/* testimonial */
.testimonialsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}
.testimonialsHeader{
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.2rem;
  margin: 50px 0;
}
.testimonials{
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.testimonialAvatarContainer{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonialAvatarContainer img{
  width: 100%;
}
.testimonialText{
  font-size: 0.9rem;
  margin: 30px 0;
  text-align: center;
}
.testimonialName{
  font-size: 1rem;
  margin-bottom: 10px;
}
.testimonialJobTitle{
  font-size: 0.8rem;
  color: #aaa;
}
/* footer */
.footerImagesContainer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.footerImage img{
  width: 100%;
  height: 100%;
}
.footerBodyContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(170, 223, 170);
  padding: 100px 0;
  color: rgb(21, 60, 21);
}
.footerLinkContainer{
  margin: 50px 0;
}
.footerLinkContainer li{
  margin-right: 20px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.footerLinkContainer li:hover{
  opacity: 0.7;
}
.footerSocialContainer,.footerLinkContainer{
  display: flex;
}
.socialIcon{
  font-size: 1.8rem;
  margin-right: 20px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.socialIcon:hover{
  opacity: 0.7;
}
/* media queries */
@media(max-width:1280px){
  .box1 img{
    transform: translateY(-300px);
  }
}
@media(max-width:850px){
  .box1 img{
    transform: translateY(-100px);
  }
}
@media(max-width:800px){
  .footerImagesContainer{
    grid-template-columns: repeat(2,1fr);
  }
  .otherBoxes{
    grid-template-columns: repeat(1,1fr);
  }
  .box2{
    order: 2;
  }
  .box3{
    order: 1;
  }
  .testimonials{
    flex-direction: column;
  }
}
@media(max-width:500px){
  .box1{

  }
  .box1 img{
    transform: translateX(-17%);
    width: 150%;

  }
  .testimonialsContainer{
    padding: 100px 0px;
  }
}