@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat+Alternates:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

/* font variables */
:root{
  --abril: 'Abril Fatface', cursive;
  --montserrat-alt:'Montserrat Alternates', sans-serif;
  --open-sans:'Open Sans', sans-serif;
}
/* max width variable */
:root{
  --max-width: 1220px;
}

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: relative;
  font-family: var(--montserrat-alt);
  background-color: #f6f6f6;
  color: midnightblue;
  font-size: 1.1rem;
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--abril);
  letter-spacing: 2px;
}
a{
  text-decoration: none;
  color: midnightblue;
}
ul{
  list-style: none;
}
/* header */
header{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: white;
  width: 100%;
  max-width: var(--max-width);
  padding: 20px;
  margin: auto;
  z-index: 2;
}
.navbar{
  display: flex;

}
.navbar li{
  padding: 10px 20px;
  margin-right: 5px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.activeLink{
  background-color: white;
  color: midnightblue;
}
.navbar li:hover{
  background-color: white;
  color: black;
}
/* main */
.mainContainer{
  max-width: var(--max-width);
  margin: auto;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
.box1{
  position: relative;
  height: 450px;
  background-color: steelblue;
  overflow: hidden;

}
.box1 img{
  width: 100%;
  transform: translateY(-380px);
  position: absolute;
  
}
.otherBoxes{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 100%;
  max-width: var(--max-width);
}
.boxSecondary{
  width: 100%;
  aspect-ratio: 1/1;
 overflow: hidden;
 display: flex;
 align-items: center;
 justify-content: center;
}
.boxSecondary img{
  width: 100%;
}
.box3{
  background-image: url('./assets/images/banana_yellow.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box4{
  background-image: url('./assets/images/cup_pink.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 0% right 0%;
}
.box6{
  background-image: url('./assets/images/papaya_green.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box7{
  background-image: url('./assets/images/avocado_pink.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.textBox{
  flex-direction: column;
  padding: 80px;
}
.textBox h2{
  font-size: 2rem;
}
.textBox p{
  margin: 20px 0;
}
.boxLink{
  font-family: var(--abril);
  text-transform: uppercase;
  border-bottom: 8px solid gold;
  line-height: 6px;
  padding: 0 5px;
}
/* media queries */
@media(max-width:1280px){
  .box1 img{
    transform: translateY(-300px);
  }
}
@media(max-width:850px){
  .box1 img{
    transform: translateY(-100px);
  }
}