@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat+Alternates:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

/* font variables */
:root{
  --abril: 'Abril Fatface', cursive;
  --montserrat-alt:'Montserrat Alternates', sans-serif;
  --open-sans:'Open Sans', sans-serif;
}

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: relative;
  font-family: var(--montserrat-alt);
  background-color: #f6f6f6;
  font-size: 1.1rem;
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--abril);
  letter-spacing: 2px;
}
a{
  text-decoration: none;
  color: black;
}
ul{
  list-style: none;
}
/* header */
header{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: white;
  width: 100%;
  padding: 20px;
  z-index: 1;
}
.navbar{
  display: flex;

}
.navbar li{
  padding: 10px 20px;
  margin-right: 5px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.activeLink{
  background-color: white;
  color: black;
}
.navbar li:hover{
  background-color: white;
  color: black;
}
/* main */
.mainContainer{
  max-width: 1920px;
}
.box1{
  position: relative;
  height: 500px;
  background-color: steelblue;
  overflow: hidden;
  border: 1px solid black;
 
}
.box1 img{
  width: 100%;
  transform: translateY(-500px);
  position: absolute;
}
